## ISE 535 Final Project

In [493]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from pandas import DataFrame

import folium
from folium import plugins

%matplotlib inline

## Reading Data from a Database w/o header

In [333]:
import requests
import secrets

url = 'https://api.covid19api.com/dayone/country/south-africa'

r = requests.get(url)

r.status_code

200

In [334]:
data = r.json()

In [335]:
from pandas import DataFrame
df = DataFrame(data)
df.tail()

,ID,Country,CountryCode,Province,City,CityCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date
603,019d03f4-b8c8-4580-b010-ff1dd9707052,South Africa,ZA,,,,-30.56,22.94,2921589,89151,0,2832438,2021-10-29T00:00:00Z
604,a08b41e8-80f3-4d50-bbc3-ae615757da66,South Africa,ZA,,,,-30.56,22.94,2921886,89163,0,2832723,2021-10-30T00:00:00Z
605,8dc0e271-f619-43cc-a2c2-6918e2be1c65,South Africa,ZA,,,,-30.56,22.94,2922116,89177,0,2832939,2021-10-31T00:00:00Z
606,7d28a70d-d331-4a99-96ac-17953877ebe7,South Africa,ZA,,,,-30.56,22.94,2922222,89179,0,2833043,2021-11-01T00:00:00Z
607,212cfe09-cb24-441a-988b-2826e5161a17,South Africa,ZA,,,,-30.56,22.94,2922222,89179,0,2833043,2021-11-02T00:00:00Z

### Reading from API with Header

In [341]:
url = "https://api.covid19api.com/dayone/country/south-africa"
payload={}
headers = {
    'X-Access-Token': 'a3c98472-2928-4752-9d71-083ce072213c'
}
response = requests.request("GET", url, headers=headers, data=payload)
data = response.json()
df = DataFrame(data)
df.tail()

,ID,Country,CountryCode,Province,City,CityCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date
603,019d03f4-b8c8-4580-b010-ff1dd9707052,South Africa,ZA,,,,-30.56,22.94,2921589,89151,0,2832438,2021-10-29T00:00:00Z
604,a08b41e8-80f3-4d50-bbc3-ae615757da66,South Africa,ZA,,,,-30.56,22.94,2921886,89163,0,2832723,2021-10-30T00:00:00Z
605,8dc0e271-f619-43cc-a2c2-6918e2be1c65,South Africa,ZA,,,,-30.56,22.94,2922116,89177,0,2832939,2021-10-31T00:00:00Z
606,7d28a70d-d331-4a99-96ac-17953877ebe7,South Africa,ZA,,,,-30.56,22.94,2922222,89179,0,2833043,2021-11-01T00:00:00Z
607,212cfe09-cb24-441a-988b-2826e5161a17,South Africa,ZA,,,,-30.56,22.94,2922222,89179,0,2833043,2021-11-02T00:00:00Z

In [342]:
url = "https://api.covid19api.com/dayone/country/philippines"
payload={}
headers = {
    'X-Access-Token': 'a3c98472-2928-4752-9d71-083ce072213c'
}
response = requests.request("GET", url, headers=headers, data=payload)
data = response.json()
df = DataFrame(data)
df.tail()

,ID,Country,CountryCode,Province,City,CityCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date
638,dc80184f-3bcf-4500-9cef-e541c00152c5,Philippines,PH,,,,12.88,121.77,2779943,42621,0,2737322,2021-10-29T00:00:00Z
639,bc489855-59ea-4e1f-b292-6df106bc4ceb,Philippines,PH,,,,12.88,121.77,2783896,43044,0,2740852,2021-10-30T00:00:00Z
640,41cbb455-c858-4500-ab59-9cd350e27021,Philippines,PH,,,,12.88,121.77,2787276,43172,0,2744104,2021-10-31T00:00:00Z
641,91d4b7e4-9c07-4c06-90e4-cb9e8f00979a,Philippines,PH,,,,12.88,121.77,2790375,43276,0,2747099,2021-11-01T00:00:00Z
642,f29d94ee-772c-4ddf-8f28-00738b83217d,Philippines,PH,,,,12.88,121.77,2790375,43276,0,2747099,2021-11-02T00:00:00Z

### Function to Generate Latest Active Cases per Country

In [515]:
def countryData(country):
    url1 = "https://api.covid19api.com/dayone/country/"
    country = country
    url = url1+country
    payload={}
    headers = {'X-Access-Token': 'a3c98472-2928-4752-9d71-083ce072213c'}
    response = requests.request("GET", url, headers=headers, data=payload)
    data = response.json()
    df = DataFrame(data)
    return df

In [357]:
data = countryData("philippines")
data

,ID,Country,CountryCode,Province,City,CityCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date
642,f29d94ee-772c-4ddf-8f28-00738b83217d,Philippines,PH,,,,12.88,121.77,2790375,43276,0,2747099,2021-11-02T00:00:00Z

### Summary of All Countries

In [368]:
url = "https://api.covid19api.com/countries"
payload={}
headers = {
    'X-Access-Token': 'a3c98472-2928-4752-9d71-083ce072213c'
}
response = requests.request("GET", url, headers=headers, data=payload)
data = response.json()
df = DataFrame(data)
df

                             Country            Slug ISO2
0                             Bhutan          bhutan   BT
1                               Fiji            fiji   FJ
2                     Cayman Islands  cayman-islands   KY
3                              China           china   CN
4    Micronesia, Federated States of      micronesia   FM
..                               ...             ...  ...
243                          Namibia         namibia   NA
244                      South Sudan     south-sudan   SS
245                         Bulgaria        bulgaria   BG
246                        Gibraltar       gibraltar   GI
247                          Morocco         morocco   MA

[248 rows x 3 columns]

In [369]:
df.to_csv('country.csv')

### Latest Per Asian Country

In [377]:
seCountries = ["brunei","myanmar","cambodia","timor-leste","indonesia","malaysia", 
               "philippines","singapore","thailand","vietnam"]

In [378]:
def latestCountry(country):
    url1 = "https://api.covid19api.com/dayone/country/"
    country = country
    url = url1+country
    payload={}
    headers = {'X-Access-Token': 'a3c98472-2928-4752-9d71-083ce072213c'}
    response = requests.request("GET", url, headers=headers, data=payload)
    data = response.json()
    df = DataFrame(data)
    return df.tail(1)

In [457]:
dataSE = []

for country in seCountries:
    df = latestCountry(country)
    columns = list(df)
    values = df.iloc[0]
    zipped = zip(columns, values)
    a_dictionary = dict(zipped)
    dataSE.append(a_dictionary)

In [460]:

dataSE = DataFrame(dataSE).sort_values('Country')
dataSE

,ID,Country,CountryCode,Province,City,CityCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date
0,dfaca950-73b8-4df4-9842-432348675b59,Brunei Darussalam,BN,,,,4.54,114.73,13246,89,0,13157,2021-11-02T00:00:00Z
2,77a7ae46-8a39-4cee-bd82-5e75d9d7a9fa,Cambodia,KH,,,,12.57,104.99,118613,2794,0,115819,2021-11-02T00:00:00Z
4,c6c4745f-1e47-4b14-a7f8-024067fe0bb9,Indonesia,ID,,,,-0.79,113.92,4244761,143423,0,4101338,2021-11-02T00:00:00Z
5,ef69aece-f0a7-4742-b695-8af784c41e08,Malaysia,MY,,,,4.21,101.98,2476268,28975,0,2447293,2021-11-01T00:00:00Z
1,e7a58b63-027d-4f87-b723-269c4b24ee78,Myanmar,MM,,,,21.91,95.96,500950,18714,0,482236,2021-11-02T00:00:00Z
6,f29d94ee-772c-4ddf-8f28-00738b83217d,Philippines,PH,,,,12.88,121.77,2790375,43276,0,2747099,2021-11-02T00:00:00Z
7,d4df3f63-cd83-405f-8b9e-69e9a69aeeaf,Singapore,SG,,,,1.35,103.82,200844,421,0,200423,2021-11-02T00:00:00Z
8,b7448370-1c77-4ede-8777-adf7b579aca7,Thailand,TH,,,,15.87,100.99,1920189,19260,0,1900929,2021-11-02T00:00:00Z
3,4de47d32-b09d-4192-b741-d2dc890ddfff,Timor-Leste,TL,,,,-8.87,125.73,19790,122,0,19668,2021-11-02T00:00:00Z
9,04cc8abb-d404-4808-b95e-71cdd814f19f,Viet Nam,VN,,,,14.06,108.28,926720,22135,0,904585,2021-11-02T00:00:00Z

In [490]:
#how to select columns and highlight dataframe using gradient background
dataFilter = dataSE[['Country','Confirmed','Deaths', 'Active']].sort_values('Confirmed', ascending=False).reset_index(drop=True)
dataFilter.style.background_gradient(cmap='Reds')

In [507]:
map = folium.Map(location=[15,100], zoom_start=4, tiles='Stamenterrain')

for lat, lon, value, name in zip(dataSE['Lat'],dataSE['Lon'],dataSE['Active'],dataSE['Country']):
    folium.CircleMarker([lat, lon],radius=value*0.8, popup=(str(name).capitalize())).add_to(map)
#save map as hmtl, attach html to the readme file in gitpages

In [511]:
map.save(outfile= "map.html")

[maplink]("map.html")

### Big Data Set to Use with Widgets

In [545]:
bigData = []
for country in seCountries:
    df = countryData(country)
    bigData.append(df)

bigData = pd.concat(bigData)

In [557]:
#cleaning and filtering
bigData = bigData[['Country', 'CountryCode','Confirmed','Deaths','Recovered','Active','Date']]
bigData['Date'] = bigData['Date'].dt.strftime('%Y-%m-%d')

In [558]:
bigData

,Country,CountryCode,Confirmed,Deaths,Recovered,Active,Date
0,Brunei Darussalam,BN,1,0,0,1,2020-03-09
1,Brunei Darussalam,BN,1,0,0,1,2020-03-10
2,Brunei Darussalam,BN,11,0,0,11,2020-03-11
3,Brunei Darussalam,BN,11,0,0,11,2020-03-12
4,Brunei Darussalam,BN,37,0,0,37,2020-03-13
...,...,...,...,...,...,...,...
645,Viet Nam,VN,910376,21966,0,888410,2021-10-29
646,Viet Nam,VN,915603,22030,0,893573,2021-10-30
647,Viet Nam,VN,921122,22083,0,899039,2021-10-31
648,Viet Nam,VN,926720,22131,0,904589,2021-11-01
649,Viet Nam,VN,926720,22135,0,904585,2021-11-02

### Dashboarding